<% page = "Tweet一覧" %>

<div class="container">
  <div class="row">
    <h1><%= page %></h1>
    <table>
      <tr>
        <th>Tweet</th>
      </tr>
      <% @tweets.each do |tweet| %>
        <tr>
          <td><%= tweet.content %></td>
          <td><%= link_to 'Tweetを編集する', edit_tweet_path(tweet.id) %></td>
          <td><%= link_to 'Tweetを削除する', tweet_path(tweet.id),method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>