<div class="container">
  <div class="row">
    <div class="left col-md-6">
      <h1 id="foreword"><i class="far fa-comment"></i>StrongBlogに参加しましょう。</h1>
    </div>
    <div class="right col-md-6">
      <div id="start">
        
        
        <h1><i class="fab fa-twitter"></i>日々の生活を見つめよう。</h1>
      </div>
    </div>
  </div>
</div>