html{
  height: 100%;
}

body{
  height: 100%;
}

#container{
  height: 100%;
  width: 100%;
}

.container-fluid{
  height: 100%;
  width: 100%;
  background-image: url('/quatrefoil-938535_1280.jpg');
  background-size: contain;
}

.container-fluid .middle{
  background-color: #fff;
  height: 100%;
}

.row{
  height: 100%;
  padding-top: 58px;
  padding-bottom: 50px;
  width: 100%;
}

.middle{
  font-size: 22px;
}