html{
  height: 100%;
}

body{
  height: 100%;
}

.container{
  height: 100%;
}

.row{
  height: 100%;
}

.left{
  height: 100%;
  background-image: url('/twitter-667462_1920.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.right{
  height: 100%;
  position: relative;
}

#foreword{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 5%;
}

#start{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 10%;
}

.fab{
  color: #00f;
  display: block;
}