html{
  height: 100%;
}

body{
  height: 100%;
}

#container{
  height: 100%;
  width: 100%;
}

.row{
  height: 100%;
  padding-top: 58px;
  padding-bottom: 50px;
  width: 100%;
}

.left{
  height: 100%;
  background-image: url('/twitter-667462_1920.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.right{
  height: 100%;
  position: relative;
}

#foreword{
  position: absolute;
  font-size: 40px;
  top: 40%;
  left: 5%;
}

#start{
  position: absolute;
  top: 28%;
  left: 24%;
}

#start_button{
  position: absolute;
  left: 21%;
}

.fab{
  color: #00f;
  display: block;
}